<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jaStar</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="dist/model.js"></script>
    <script src="dist/bridge.js"></script>
    <script src="dist/view.js"></script>
    <link href="main.css" rel="stylesheet">
</head>

<body>
    <div id="app">
        <v-app>
            <v-container>
                <v-row align="center">
                    <v-col cols="auto">
                        <v-btn @click="clearData()">清空数据</v-btn>
                    </v-col>
                    <v-col cols="auto">
                        <v-switch v-model="$vuetify.theme.dark" label="夜间模式"></v-switch>
                    </v-col>
                    <v-col cols="auto">
                        <v-switch v-model="globalEditMode" label="编辑模式"></v-switch>
                    </v-col>
                    <v-col cols="auto">
                        <v-switch v-model="networkMode" label="冲浪模式"></v-switch>
                    </v-col>
                </v-row>
                <!-- todo  align="center" -->
                <v-row align-content="start" justify="start" v-for="(list,row) in orderList" :key="list.name">

                    <!-- 每一行的开头列 -->
                    <v-col cols="auto">

                        <v-hover v-slot:default="{ hover }">
                            <v-card @click="showListDialog(row)" :color="scoreColor.primary" ripple shaped
                                :elevation="hover ? 24 : 6" class="transition-swing pa-2" :max-width="cardWidth"
                                :min-width="cardWidth" :max-height="cardHeight" :min-height="cardHeight">
                                <v-btn v-show="globalEditMode" :color="scoreColor[10]" right top fab x-small absolute
                                    @click.stop="deleteList(row)">
                                    <v-icon>mdi-close</v-icon>
                                </v-btn>
                                <v-card-actions>
                                    <v-btn @click.stop="showSearchDialog(row,false)">+List</v-btn>
                                </v-card-actions>
                                <v-card-actions>
                                    <v-btn @click.stop="showSearchDialog(row,true)">+Item</v-btn>
                                </v-card-actions>
                                <v-card-text>
                                    {{list.name}}
                                    <br>
                                    {{list.extraInfo}}
                                    <br>
                                    {{list.date}}
                                </v-card-text>
                            </v-card>
                        </v-hover>
                    </v-col>

                    <!-- 每一行的内容列 -->
                    <v-col cols="auto" v-for="(item,col) in orderItem[row]" :key="item.sid">

                        <v-hover v-slot:default="{ hover }">
                            <v-card :color="scoreColor[item.score]" ripple :elevation="hover ? 24 : 6"
                                class="transition-swing" @click="showItemDialog(row,col)">
                                <!-- <v-alert width="100%" height="100%" border="left" :color="scoreColor[item.score]"
                                    colored-border class="pa-0 ma-0"> -->
                                <v-btn v-show="globalEditMode" :color="scoreColor[10]" right top fab x-small absolute
                                    @click.stop="deleteItem(row,col)">
                                    <v-icon>mdi-close</v-icon>
                                </v-btn>

                                <v-card-title style="overflow-y: hidden;height:50px;">
                                    {{item.sid}}
                                </v-card-title>
                                <v-card-subtitle>
                                    <br>
                                    {{item.extraInfo}}
                                </v-card-subtitle>
                                <v-card-text>
                                    {{item.type}}
                                    <br>
                                    {{item.date}}
                                </v-card-text>
                                <!-- </v-alert> -->
                            </v-card>
                        </v-hover>
                    </v-col>

                </v-row>

                <v-dialog :width="dialogWidth" v-model="showSearch">
                    <v-card>
                        <v-combobox counter maxlength=200 no-filter :search-input.sync="searchText"
                            :items="searchResult" :loading="localLoading" autofocus clearable solo
                            :item-value="requestSearchItem?'item.sid':'list.name'" :return-object="false"
                            :item-color="scoreColor.primary" :color="scoreColor.primary" loader-height=3
                            :menu-props="{'max-width':dialogWidth,'nudge-top':-1}"
                            :prefix="`${requestSearchItem?'Item ':'List '}标题`">
                            <template v-slot:item="{ item,on,attrs }">
                                <v-list-item ripple @click="requestEditDialog(item)">
                                    <v-icon v-if="requestSearchItem?(item.level!=0):(item.level!=3)">mdi-pencil</v-icon>
                                    <v-icon v-if="requestSearchItem?(item.level!=1):(item.level!=4)">mdi-plus</v-icon>
                                    <v-chip label
                                        :color="requestSearchItem?scoreColor[item.item.score]:scoreColor.primary">
                                        {{requestSearchItem?item.item.sid:item.list.name}}
                                    </v-chip>
                                    {{requestSearchItem?item.item.extraInfo:item.list.arr}}
                                </v-list-item>
                            </template>
                        </v-combobox>
                    </v-card>
                </v-dialog>

                <v-dialog persistent width=400 :value="false">
                    <v-card :color="scoreColor.primary">
                        <v-card-text>
                            <span class="py-2 d-flex justify-center">网络请求中...</span>
                            <v-progress-linear indeterminate color="grey lighten-3"></v-progress-linear>
                        </v-card-text>
                    </v-card>
                </v-dialog>

                <!-- 新建list -->
                <v-dialog persistent :width="dialogWidth" :value="showList">
                    <v-card>
                        <v-sheet :color="scoreColor.primary" height=56>
                            <v-card-title>
                                <span class="text-h5">{{dialogTitle()}}</span>
                            </v-card-title>
                        </v-sheet>
                        <v-card-text>
                            <br>
                            <v-row>
                                <v-col cols="12">
                                    <v-textarea counter maxlength=800 no-resize rows=3 filled dense
                                        :color="scoreColor.primary" v-model="newList.extraInfo" label="额外信息">
                                    </v-textarea>
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-spacer></v-spacer>
                                <v-col cols="auto">
                                    <!-- todo theme primary -->
                                    <v-btn color="primary" text large @click="hideEditDialog()"> 取消 </v-btn>
                                    <v-btn :color="scoreColor.primary" text large @click="submitData()">
                                        {{submitBtnText()}}
                                    </v-btn>
                                </v-col>
                            </v-row>
                        </v-card-text>
                    </v-card>
                </v-dialog>

                <!-- 编辑item -->
                <v-dialog persistent :width="dialogWidth" :value="showItem && newItem.type=='Normal'">
                    <v-card>
                        <v-sheet :color="scoreColor[newItem.score]" height=56>
                            <v-card-title>
                                <span class="text-h5">{{dialogTitle()}}</span>
                            </v-card-title>
                        </v-sheet>
                        <v-card-text>
                            <br>
                            <v-row>
                                <v-col cols="12">
                                    <v-textarea counter maxlength=800 no-resize rows=3 filled dense
                                        v-model="newItem.extraInfo" :color="scoreColor[newItem.score]" label="额外信息">
                                    </v-textarea>
                                </v-col>
                            </v-row>
                            <!-- <br> -->
                            <v-chip-group v-model="newItem.score" column mandatory>
                                <v-chip :value=10 :color="scoreColor[10]" filter>强提醒</v-chip>
                                <v-chip :value=4 :color="scoreColor[4]" filter>4 分</v-chip>
                                <v-chip :value=3 :color="scoreColor[3]" filter>3 分</v-chip>
                                <v-chip :value=2 :color="scoreColor[2]" filter>2 分</v-chip>
                                <v-chip :value=1 :color="scoreColor[1]" filter>1 分</v-chip>
                                <v-chip :value=0 :color="scoreColor[0]" filter>不评分</v-chip>
                                <v-chip :value=-5 :color="scoreColor[-5]" filter>黑名单</v-chip>
                            </v-chip-group>
                            <!-- <v-radio-group v-model="newItem.score" row>
                                <score-radio :score="10" :color="scoreColor[10]">强提醒</score-radio>
                                <score-radio :score="4" :color="scoreColor[4]">4 分</score-radio>
                                <score-radio :score="3" :color="scoreColor[3]">3 分</score-radio>
                                <score-radio :score="2" :color="scoreColor[2]">2 分</score-radio>
                                <score-radio :score="1" :color="scoreColor[1]">1 分</score-radio>
                                <score-radio :score="0" :color="scoreColor[0]">不评分</score-radio>
                                <score-radio :score="-5" :color="scoreColor[-5]">黑名单</score-radio>
                            </v-radio-group> -->
                            <v-row>
                                <v-spacer></v-spacer>
                                <v-col cols="auto">
                                    <v-btn text large @click="hideEditDialog()"> 取消 </v-btn>
                                    <v-btn :color="scoreColor.primary" text large @click="submitData()">
                                        {{submitBtnText()}}
                                    </v-btn>
                                </v-col>
                            </v-row>
                        </v-card-text>
                    </v-card>
                </v-dialog>

                <v-dialog persistent width=400 :value="hint.message!=''">
                    <v-card>
                        <v-card-title>提示</v-card-title>
                        <v-card-text>{{hint.message}}</v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn text large v-show="hint.negative[0]!=''" @click="hint.negative[1]()">
                                {{hint.negative[0]}}
                            </v-btn>
                            <v-btn text large v-show="hint.positive[0]!=''" @click="hint.positive[1]()">
                                {{hint.positive[0]}}
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-container>
        </v-app>
        <!-- <v-app>
            <v-card class="mx-auto" max-width="344">
                <v-card-text>
                    <div>Word of the Day</div>
                    <p class="display-1 text--primary">
                        el·ee·mos·y·nar·y
                    </p>
                    <p>adjective</p>
                    <div class="text--primary">
                        relating to or dependent on charity; charitable.<br>
                        "an eleemosynary educational institution."
                    </div>
                </v-card-text>
                <v-card-actions>
                    <v-btn text color="teal accent-4" @click="reveal = true">
                        Learn More
                    </v-btn>
                </v-card-actions>
    
                <v-expand-transition>
                    <v-card v-if="reveal" class="transition-fast-in-fast-out v-card--reveal" style="height: 100%;">
                        <v-card-text class="pb-0">
                            <p class="display-1 text--primary">
                                Origin
                            </p>
                            <p>late 16th century (as a noun denoting a place where alms were distributed): from medieval
                                Latin eleemosynarius, from late Latin eleemosyna ‘alms’, from Greek eleēmosunē ‘compassion’
                            </p>
                        </v-card-text>
                        <v-card-actions class="pt-0">
                            <v-btn text color="teal accent-4" @click="reveal = false">
                                Close
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-expand-transition>
            </v-card>
        </v-app> -->
    </div>
    <div class="item">
        <div class="item-img"></div>
        <div class="item-id"></div>
        <div class="item-title"></div>
        <div class="item-date"></div>
        <div class="item-score"></div>
        <div class="itme-copy"></div>
        <div class="item-open"></div>
        <div class="item-img-big"></div>
        <div class="item-video"></div>
    </div>
</body>

</html>